.left-nav{
  min-height: 100vh;
  .logo{
    display: flex;
    align-items: center;
    height: 40px;
    margin: 16px;
    span{
      color: #fff;
      font-size: 20px;
      padding-left: 10px;
    }
  }
}